/*Палитра сайта*/
/*Цвет основного текста заголовков #212121 */
/*Вторичный цвет текста #757575 */
/*Цвет контактов rgba(255, 255, 255, 0.6) */
/* Цвет логотипа в хедере #000000 */
/*Белый цвет #FFFFFF */
/*Цвет акцента #2196F3 */
/*Цвет кнопки при наведении #188CE8 */
/*Цвет фона #2F303A #E5E5E5  #FFFFFF */
/*Цвет рамки кнопок фильтра #F5F4FA */
/*Цвет рамки картинок в Портфолио #CCCCCC */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --accent-background-color: #2F303A;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --background-features-color: #E5E5E5;
    --black-color: #000000;
    --accent-button: #188CE8;
    --button-color: #F5F4FA;
}
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--title-text-color);
    margin: 0;
    background-color: var(--primary-white-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
    border: 0;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Шапка сайта*/
.header__container {
    display: flex;
}

.header__nav {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
}

/*Логотип в хедере*/
.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:  1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    border: 0;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo {
    margin-left: 0;
    color: var(--black-color);
}

.header__logo:hover,
.header__logo:focus,
.header__logo--inverse:hover,
.header__logo--inverse:focus,
.logo--accent {
    color: var(--accent-color);
}

/*Навигация по сайту*/
.site-nav__container,
.auth-nav__container {
    margin: 0;
    padding: 0;
}

.site-nav__container .site-nav__list {
    display: flex;
    margin-left: 94px;
}

.site-nav__item {
    margin-right: 50px;
}

.site-nav__item:last-child {
    margin-right: 0;
}

.header__nav .header__link,
.auth-nav__list .header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header__link:hover,
.header__link:focus {
    color: var(--accent-color);
}

.auth-nav__list .header__link:hover, 
.auth-nav__list .header__link:focus {
    color: var(--accent-color);
}

.header__link--current {
    color: var(--accent-color);
    position: relative;
}

/*Элемент-подчеркивание под активной ссылкой*/
.header__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    border-radius: 2px;
}

/*Контакты в хедере*/
.auth-nav__container {
    margin-left: auto;
}

.auth-nav__container .auth-nav__list {
    display: flex;
    align-items: center;
}

.auth-nav__list .header__link {
    display: flex;
    color: var(--primary-text-color);
}

.auth-nav-list__item + .auth-nav-list__item {
    margin-left: 30px;
}

/*Иконки контактов в хедере*/
.auth-nav__link-container .header__link {
    align-items: center;
}

.auth-nav__icon {
    margin-right: 10px;
    fill: currentColor;
}

/*Main*/
/*Баннер*/
.hero {
    background-color: var(--accent-background-color);
    text-align: center;
}
/*Фон на герое*/
.hero__overlay {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
}

.hero__button {
    min-width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--accent-button);
}

/*Заголовки секций*/
.section__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

/*Визуально спрятан*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Особенности*/
.features__container  {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 100%;
}

.feature__item {
    min-width: 270px;
    margin-right: 30px;
}

.feature__panel ul {
    width: 100%;
    display: flex;
    flex-basis: calc((100% / 4) - 30px);
    margin-right: -30px;
    padding: 0;
}

.feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 55px;
    background-color: var(--button-color);
    border-radius: 4px;
}

.feature-list__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*Чем мы занимаемся*/
.works__container {
    padding-bottom: 94px;
}

.work__set ul {
    display: flex; 
    margin-right: -30px;
    padding: 0;
}
.work__item {
    max-width: 370px;
    flex-basis: calc((100% / 3) - 30px);
    margin-right: 30px;
    position: relative;
}

.work-label__text {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}

/*Наша команда*/
.team {
    background-color: var(--button-color);
}

.team__container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__list  ul {
    display: flex;
    margin-right: -30px;
    padding: 0;
}

.team__thumb {
    display: block;
    margin-bottom: 30px;
}

.team__item {
    max-width: 270px;
    flex-basis: calc((100% / 4) - 30px);
    margin-right: 30px;
    background-color: var(--primary-white-color);
}

.team__list .team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-card__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*Иконки соцсетей*/
.team__list .social__list {
    margin-right: 0;
    margin-bottom: 30px;
}

.social__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__item + .social__item {
    margin-left: 10px;
}

.social__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__list .social__icon {
    fill: #AFB1B8;
}
.circle {
    background-color: var(--primary-white-color);
    min-width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Иконки соцсетей при наведении*/
.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
    
}

.circle:hover .social__icon,
.circle:focus .social__icon {
    fill: var(--primary-white-color);
}

/*Постоянные клиенты*/
.clients__container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__list ul {
    width: 100%;
    display: flex;
    margin-right: -30px;
    padding: 0;
}

.client__thumb .client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100% / 6) - 30px);
    min-width: 170px;
    height: 92px;
    margin-right: 30px;
    box-sizing: border-box;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
    fill: #AFB1B8;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
    fill: var(--accent-color);
}

.client__link:hover,
.client__link:focus {
    border: 1px solid var(--accent-color);
}

/*Подвал*/
.footer__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-contacts {
    background-color: var(--accent-background-color);
    margin-top: 0;
    margin-bottom: 0;
}

.address {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo__box {
    margin-bottom: 20px;
}

.header__logo--inverse {
    color: var(--primary-white-color); 
}

.footer-contacts__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--contacts-color);
}

.address__link {
    color: var(--primary-white-color);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--accent-color);
}

.footer-contacts__item {
    margin-bottom: 9px;
}

.footer-contacts__item:last-child {
    margin-bottom: 0;
}

/*Присоединяйтесь*/
.footer-social-contacts {
    margin: 72px 0 100px 98px;
    padding: 0;
}

.footer-social-contacts ul {
    display: flex;
}

.footer-social__item {
    margin-right: 10px;
}

.footer-social__list:last-child {
    margin-right: -10px;
}

.footer-social__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

/*Иконки соцсетей в футере*/
.footer-social-contacts .circle {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-contacts .footer-social__icon {
    fill: var(--primary-white-color);
}

/*Иконки соцсетей в футере при наведении*/
.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--accent-color);
    
}

/*Подпишитесь на рассылку*/
.footer-subscribe-form {
    margin: 72px 0 94px 93px;
    padding: 0;
}

.footer-form__field {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-form__email {
    width: 358px;
    min-height: 86px;
    display: flex;
    align-items: center;
}

.footer-form__text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.footer-form__input {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    background-color: var(--accent-background-color);
    color: var(--primary-white-color);
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer__button {
    display: block;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    min-width: 200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 39px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button:hover,
.footer__button:focus {
    background-color: var(--accent-button);
}

.footer-button__box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-button__text {
    margin-right: 10px;
}

.footer-button__icon {
    fill: var(--primary-white-color);
}

.footer-form__input::placeholder {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.5;
}

/*Портфолио*/
.portfolio__container {
    background-color: var(--primary-white-color);
}

.portfolio-button__container {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 34px;
}

.portfolio-card__container {
    margin: 0;
    padding-bottom: 94px;
}

.portfolio-button__box ul {
    display: flex;
    justify-content: center;
}

.portfolio__button {
    padding: 6px 22px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--button-color);
    cursor: pointer;
    border-radius: 4px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button__item {
    margin-right: 8px;
}

.portfolio-button__item:last-child {
    margin-right: 0;
}

.portfolio__button:hover,
.portfolio__button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-card__set {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    padding: 0;
    background-color: var(--primary-white-color);
}  

.portfolio-card__thumb {
    display: block;
}

.portfolio-card__item:hover,
.portfolio-card__item:focus {
    color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__item {
    max-width: 370px;
    flex-basis: calc((100% / 3) - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--primary-white-color);
    border: 1px solid #EEEEEE;
}

.portfolio-card__wrap {
    position: relative;
    overflow: hidden;
}

.card-wrap__text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 40px;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    height: 100%;
    overflow: auto;
    transform: translateY(101%);
    transition: transform 300ms linear;
}

.portfolio-card__item:hover .card-wrap__text {
    transform: translateY(0);
    transition: transform 300ms linear;
}

.portfolio-card__content {
    padding: 20px 24px;
}

.portfolio-card__title {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*Модальное окно*/
.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 1000ms, visibility 1000ms;
}

.modal-window {
    width: 530px;
    min-height: 580px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 1000ms;
}

/*Закрытие окна*/
.button-close__field {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-top: -32px;
    margin-right: -32px;
    margin-bottom: 2px;
}

.button-close__circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    right: -32px;
    fill: var(--title-text-color);
    cursor: pointer;
}

.button-close__circle:focus,
.button-close__circle:hover {
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close__circle:focus,
.button-close__circle:hover .button-close__icon {
    fill: var(--accent-color);
}

/*формы для ввода данных*/
.modal__forms {
    width: 100%;
}

.modal__text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 12px;
    }

.modal__inputs {
    width: 100%;
}

.modal-form__field {
position: relative;
margin-bottom: 10px;
}

.modal-form__label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 12px 12px 12px 42px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.modal-form__input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
    position: absolute;
    top: 65%;
    left: 12px;
    fill: var(--title-text-color);
    transform: translateY(-50%);
}

.modal-form__input:focus + .modal-form__icon {
    fill: var(--accent-color);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Комментарий*/
.comment-form {
    margin-bottom: 20px;
}

.modal-comment__textarea {
    min-height: 120px;
    margin: 0;
    padding: 12px 16px;
    resize: none;
}

.modal-comment__textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

/*Чексбокс*/
.modal-checkbox__form {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.modal-checkbox__input {
    width: 16px;
    height: 15px;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: -20px;
    margin-top: 4px;
}

.modal-checkbox__icon {
    position: absolute;
    width: 16px;
    height: 15px;
    border: 1px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 10px;
    margin-left: -20px;
    margin-top: 4px;
}

.modal-checkbox__input:checked + .modal-checkbox__icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url('../images/marker1.svg');
    background-size: contain;
    background-origin: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__link {
    display: inline-block;
    text-decoration: underline;
    font-size: 14px;
    color: var(--accent-color);
    margin-left: 2px;
}

/*Кнопка в модальном окне*/
.modal__button {
    display: block;
    min-width: 200px;
    height: 50px;
    margin-left: 125px;
    padding: 10px 55px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__button:hover,
.modal__button:focus {
    background-color: var(--accent-button);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal-window {
    transform: scale(1.5) rotate(180deg) translate(-1000px);
    transition: transform 1000ms;
}